@model PinTest.Models.PinKripto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PinKripto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Symbol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KriptoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KriptoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.USD)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
